<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find oatmeal_gazebo)/simulation/worlds/empty.world" />
    <arg name="paused" value="true" />
  </include>
  <node
    name="carwheel"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find oatmeal_gazebo)/simulation/models/carwheel/urdf/carwheel.urdf
        -urdf
        -model carwheel
        -x 0
        -y 0
        -z 0.2
        -R 0
        -P 0
        -Y 0"
    output="screen" />
</launch>
